{% extends 'base.html' %}
{% load static %}
{% block body %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description"
    content="Stormxbet deliver the best virtual games experience,transparent result,Here winning is sure.">
  <meta name="keywords" content="bet, stormxbet, storm, virtaul, game">
  <title>Stormxbet</title>
</head>
<link rel="stylesheet" href="{% static 'website/custom.css' %}">
<div class="container-fluid" id="blur_background">
  <div class="pt-5 d-none d-lg-block">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner" style="height: 70vh; border-radius: 10px; margin-top: 70px;">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="{% static 'advert/gamepack.png' %}" class="d-block w-100" style="height: 75vh ; object-fit: fill;"
            alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="{% static 'advert/banner2.png' %}" class="d-block w-100" style="height: 70vh ; object-fit: fill;"
            alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'advert/winning.jpg' %}" class="d-block w-100" style="height: 70vh ; object-fit: fill;"
            alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!--For Smaller screen size-->
  <div class="mt-5 mb-3 d-lg-none">
    <div id="carouselExampleID" class="carousel carousel-dark slide" data-bs-ride="carousel" >
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleID" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleID" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleID" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner " style="height: 25vh; border-radius: 10px; margin-top: 90px;" >
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="{% static 'advert/gamepack.png' %}" class="d-block w-100" style="height: 100%; width: 100%;"
            alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="{% static 'advert/banner2.png' %}" class="d-block w-100" style="height: 100%; width: 100%;"
            alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'advert/winning.jpg' %}" class="d-block w-100" style="height: 100%; width: 100%;"
            alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleID" data-bs-slide="prev">
        <span class="" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleID" data-bs-slide="next">
        <span class="" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="successimg">
      <img src="{% static 'assets/images/loader.gif' %}" alt="" id="processing">
      <img src="{% static 'assets/images/sucessreverse.gif' %}" alt="" id="successimg">
    </div>

    <span id="result"></span>

    <div class="col-lg-3 d-none d-lg-block ">
      <img src="{% static 'assets\images\soccer-bets-bg.png' %}" height="200px" alt="unable to load image">
    </div>

    <div class="col-lg-6">
      <div class="game-info mb-3">
        <span class="game-info-text">8Balls</span>
        <span id="info-btn"><i class="fa-solid fa-circle-info" id="circle-info"></i></span>
      </div>
      <div class="mb-3"><span class="span1"><a href="{% url 'gamehistory' %}">History</a></span> <span class="span2"><a
            href="{% url 'resulthistory' %}">Results</a></span></div>
      <div class="row" id="gamebg">

      </div>
    </div>
    <div class="col-lg-3 d-none d-lg-block    ">
      <img src="{% static 'assets\images\soccer-bets-bg.png' %}" height="200px" alt="unable to load image">
    </div>


  </div>
</div>


<script src="{% static 'assets/js/sweetalert.min.js' %}"></script>
<script src="{% static 'website/custom.js' %}"></script>
{% endblock %}