{% extends 'base.html' %}
{% load static %}
{% block body %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
        content="Lottery. Easy to winning, guarantee funds.">
    <meta name="keywords" content="bet, stormxbet, Nigeria lottery, lottery">
    <title>Lottery</title>
</head>

<link rel="stylesheet" href="{% static 'website/lottery.css' %}">
<div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <div class="row">

        <div class="success">
            <img src="{% static 'assets/images/loader.gif' %}" alt="" id="process">
            <img src="{% static 'assets/images/sucessreverse.gif' %}" alt="" id="success">
        </div>

        <span id="result"></span>

        <div class="col-lg-3 d-none d-lg-block ">
            <img src="{% static 'assets\images\soccer-bets-bg.png' %}" height="200px" alt="unable to load image">
        </div>

        <div class="col-lg-6">

            <div class="lottery-info mb-3">
                <span class="lottery-info-text">Ball8</span>
                <span id="lottery-btn"><i class="fa-solid fa-circle-info" id="lottery-info"></i></span>
            </div>

            <div class="mb-3"><span class="span1"><a href="{% url 'tickethistory' %}">History</a></span> <span
                    class="span2"><a href="{% url 'lotteryresulthistory' %}">Results</a></span></div>
            <div class="row" id="gamebg">

            </div>
        </div>
        <div class="col-lg-3 d-none d-lg-block    ">
            <img src="{% static 'assets\images\soccer-bets-bg.png' %}" height="200px" alt="unable to load image">
        </div>


    </div>
</div>


<script src="{% static 'assets/js/sweetalert.min.js' %}"></script>
<script src="{% static 'website/lottery.js' %}"></script>
{% endblock %}