{% extends 'base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'website/custom.css' %}">
<div class="container">
    <div class="background">
        <center>
            <h4>REGISTRATION</h4>
        </center>
        <div class="form-area">
            <form method="post">
                {% if forms.errors %}
                <center><span class="error">{{forms.errors}}</span></center>
                {% endif %}
                {% for message in messages %}
                <center><span class="success">{{message}}</span></center>
                {% endfor %}
                <br>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-input">
                            {{forms.first_name.label_tag}}
                            <span>*</span>
                            {{forms.first_name}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-input">
                            {{forms.last_name.label_tag}}
                            <span>*</span>
                            {{forms.last_name}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-input">
                            {{forms.email.label_tag}}
                            <span>*</span>
                            {{forms.email}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-input">
                            {{forms.username.label_tag}}
                            <span>*</span>
                            {{forms.username}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-input">
                            {{forms.phone_number.label_tag}}
                            <span>*</span>
                            {{forms.phone_number}}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-input">
                            <label for="referral">Referral:</label>
                            <span style="float: right; padding-right: 10px;">optional</span>
                            <input type="text" id="referral" name="refercode">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-input">
                            {{forms.password1.label_tag}}
                            <span>&ast;</span>
                            {{forms.password1}}
                            <p class="guild_text" style="display: none;">Must contain at least one number,
                                aphablet, and at least 8 or more characters</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-input">
                            {{forms.password2.label_tag}}
                            <span>*</span>
                            {{forms.password2}}
                            <p class="guild_text_confirm"></p>
                        </div>
                    </div>
                    <span class="btn-border w-85 mt-5 mb-3">
                        <button class="cmn-btn w-100">Sign up</button>
                    </span>
                </div>
            </form>
            <center><span>Already a member? <a href="{% url 'login' %}"
                        style="color: yellow; text-decoration: underline;">Login</a></span></center>
        </div>
    </div>
</div>
<script>
    $('#id_password1').focus(function(){
        $('.guild_text').css('display', 'flex')
        $('.guild_text').css('color', 'red')
    })
    $('#id_password1').blur(function(){
        $('.guild_text').css('display', 'none')
    })

    $('#id_password2').keyup(function(){
        if($('#id_password1').val() != $('#id_password2').val()){
            $('.guild_text_confirm').text('Passworld does not match.')
            $('.guild_text_confirm').css('color', 'red')
            $('.guild_text_confirm').css('display', 'flex')
        }
        else{
            $('.guild_text_confirm').text('Password match.')
            $('.guild_text_confirm').css('color', 'green')
            $('.guild_text_confirm').css('display', 'flex')
        }
    })
    $('#id_password2').blur(function(){
        $('.guild_text_confirm').css('display', 'none')
    })
</script>
{% endblock %}